In [1]:
#Task 1
name = 'Ramish'
age = 27
country = 'Pakistan'
data = 'My name is ' + name + ', I am ' + str(age)  + ' years old' + ' and I live in ' + country
print(data)

My name is Ramish, I am 27 years old and I live in Pakistan

In [2]:
#Task 2

item = 'laptops'
price = 600
quantity = 10
total_cost = price * quantity

total = """I bought {} {} at {} each, for a total of ${}. 
""".format (quantity,item,price,total_cost)
print(total)

I bought 10 laptops at 600 each, for a total of $6000.

In [3]:
#Task 3

city = 'Karachi'
temperature = '27'

weather = f"""The temperature in {city} is {temperature}°C."""

print (weather)

The temperature in Karachi is 27°C.

In [4]:
#Task 4

first_name = 'Ramish'
last_name = 'Fateh'
birth_year = 1996
current_year = 2023
age = current_year - birth_year 

information = """My name is %s %s. I am %d years old.""" %(first_name,last_name,age)

print (information)

My name is Ramish Fateh. I am 27 years old.

In [12]:
product = 'iphone'
discount = 25
original_price = 1000
discounted_price = original_price * (1-discount/100) 
info = f"""The original price of {product} is ${original_price} after discount of {discount}%
the price will be ${discounted_price}."""
print (info)

The original price of iphone is $1000 after discount of 25%
the price will be $750.0.